<?php

// BEFORE YOU START
// Make sure your credentials are stored in the .aws folder of your HOME
// 
// NOTE
// on Windows systems you may want to create a specific HOME environment variable 
// if you use a webserver


// Email address to send test email from
define( 'FROM_ADDRESS', 'change-this@to-your-email.com' );
define( 'FROM_NAME', 'Change to your Name Surname');

// Email address to send test email to
define( 'TO_ADDRESS', 'change-this@as-well-please.com' );
#define( 'CC_ADDRESS', 'change-this@as-well-please.com' );
#define( 'BCC_ADDRESS', 'change-this@as-well-please.com' );

// Set the correct endpoint. http://docs.aws.amazon.com/general/latest/gr/rande.html#ses_region
define( 'AWSSESEndpoint', 'eu-west-1' );

// Set the IAM profile (the one in the credentials)
define( 'AWSProfile', 'your profile');

// Set a SES ConfigurationSet
define( 'AWSConfigSet', 'your configset');

// Attach a file
define ('ATTACHMENT', 'filename');

// Set sample template data
define( 'TEMPLATE_DATA', [
    "name" => "A default name",
    "animal" => "A default animal"
]);

// Set bulk destinations
define( 'DEST_1',       ["to"     => ['Mail 1']]);
define( 'DEST_1_DATA',  ["name"   => "Name 1", "animal" => "Animal 1"]);
define( 'DEST_2',       ["to"     => ['Mail 2']]);
define( 'DEST_2_DATA',  ["animal" => "Animal 2"]);
define( 'DEST_3',       ["to"     => ['Mail 3']]);
define( 'DEST_3_DATA',  ["name"   => "Name 3", "animal" => "Animal 3"]);
